:root {
    //page-zoonkan
    --size: 100px;
    --size-folder-back: var(--size);
    --size-page-1: calc(var(--size) * 0.55);
    --size-page-2: calc(var(--size) * 0.65);
    --size-folder-front: var(--size);

    --ratio-page-1: 0.95;
    --ratio-page-2: 1.05;
    --ratio-page-2-height: 0.5;
    --ratio-page-2-offset: 0;

    --scale-folder: 1;
    --scale-pages: 0.7;

    --opacity-page-2: 1;
}


@font-face {
    font-family: 'IRANYekanWebFn';
    src: url('/css/font/IRANYekanWebFn.woff2') format('woff2'),
    url('/css/font/IRANYekanWebFn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$color-gray: #78909c;

* {
    padding: 0;
    margin: 0;
    border: 0;
    direction: rtl;
    font-family: 'IRANYekanWebFn';
    outline: none;
}

select {
    background: #fff;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

body {
    width: 100%;
    min-height: 100%;
    background: #fcfcfc;
}


header {
    width: calc(100% - 20px);
    align-items: center;
    font-weight: bold;
    background: #607d8b;
    padding: 10px 0;

    .header-right {
        display: flex;
        align-items: center;

        .header-box-img-1 {
            margin-right: 25px;
        }

        .header-img-logo {
            padding: 0 10px;

        }

        .header-box-img {
            position: relative;
            @media only screen and (max-width: 485px) {
                display: none;
            }
        }

        // colors
        $color-highlight: red;
        $color-white: #fff;
        // mixins
        @mixin fill-parent($offset) {
            position: absolute;
            top: $offset;
            right: $offset;
            bottom: $offset;
            left: $offset;
        }

        .blinker-six {
            .circle {
                width: 13px;
                height: 13px;

                &:nth-child(1) {
                    @include fill-parent(7px);
                    background: $color-highlight;
                    border-radius: 100%;
                    border: 2px solid $color-white;
                    z-index: 1;
                    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .1);
                }

                &:nth-child(2) {
                    @include fill-parent(7px);
                    background: $color-highlight;
                    border-radius: 100%;
                    animation: bounce-contract 1400ms infinite;
                }
            }
        }

        // animations
        @keyframes bounce-contract {
            0% {
            }
            20% {
                transform: scale(1.4);
            }
            100% {
                transform: scale(.1);
                opacity: 0;
            }
        }

        .header-img-alert {
            width: 10px;
            height: 10px;
            background: red;
            position: absolute;
            top: 4px;
            right: 9px;
            border-radius: 50%;
        }

        .box-search {
            // background: red;
            position: relative;
            padding-right: 15px;

            input {
                border: none;
                outline: none;
                padding: 4px 6px 4px 35px;
                z-index: 9;
                border-radius: 5px;
                // background: red;
                font-size: 14px;

                &::placeholder {
                    font-weight: normal;
                }
            }

            img {
                width: 25px;
                position: absolute;
                z-index: 9999;
                left: 0;
                top: 2px;
            }
        }
    }

    .header-left {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &-span-left {
            font-size: 13px;
            color: #fff;
            padding: 8px 15px;
            border-radius: 5px;
        }

        &-box-span {
            position: relative;
            font-weight: normal;
            @media only screen and (max-width: 873px) {
                display: none;
            }
        }

        &-span-left-alert {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $color-gray;
        }

        &-span-left-alert-1 {
            position: absolute;
            right: 3px;
        }

        &-span-left-alert-2 {
            position: absolute;
            right: 3px;
        }

        &-send {
            background: #3f51b5;
            margin-left: 8px;
        }

        &-new-ad {
            background: #e53935;
        }

        .box-lang {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: normal;
            font-size: 13px;
            background: #fff;
            border-radius: 5px;
            padding: 6px 3px;
            margin: 0 8px;
            position: relative;
            color: #8097a2;
            @media only screen and (max-width: 623px) {
                // display: none;
            }

            &-select {
                //   width: 93px;
                background: rgb(255, 255, 255);
                position: absolute;
                top: 32px;
                right: 0;
                z-index: 999;
                color: #333333;
                display: none;
                border-radius: 5px;
                //   padding: 0 8px;
                &-box {
                    display: flex;
                    justify-content: space-around;
                    // padding: 5px 0;
                    a {
                        color: #414141;
                        padding: 8px 10px;
                    }

                    button {
                        width: 100%;
                        background: transparent;
                        padding: 8px 10px;
                    }
                }

                &-box {
                    transition: all 0.5s;
                    border-bottom: 1px solid #ececec;
                    // padding: 8px 10px;
                    &:hover {
                        background: #03a8f3;

                        a {
                            color: #fff;
                        }

                        button {
                            color: #fff;
                            cursor: pointer;
                        }
                    }
                }
            }

            &:hover {
                cursor: pointer;
            }

            &-img-1 {
                width: 25px;
                height: 10px;
                padding: 0 5px;
            }
        }

        &-male-user {
            width: 45px;
            border-radius: 50%;
            padding: 5px;
            box-shadow: 1px 1px 9px #576d77;
            margin-right: 5px;
        }
    }

}

//alert-box
.alert-message {
    position: fixed;
    z-index: 99;
    top: 10px;
    right: -100%;
    width: 400px;
}

main {
    .panel-nav {
        min-height: 95vh;
        background: $color-gray;
        padding: 0;
        // min-height: 88vh;
        transition: all 0.5s;

        &-icon-menu {
            padding: 8px 10px 8px 0;
            display: none;
            @media only screen and (max-width: 767px) {
                display: block;
            }
        }

        ul {
            padding: 0;
            // min-height: 86vh;
            @media only screen and (max-width: 767px) {
                display: none;
            }

            .panel-nav-ul-li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                // padding: 8px;
                list-style-type: none;
                color: #fff;
                font-size: 13px;
                transition: all 0.5s;

                a {
                    width: 100%;
                    padding: 8px;
                    color: #fff;
                }

                img {
                    width: 25px;
                }

                .panel-nav-img-gry {
                    display: none;
                }

                &:hover {
                    a {
                        color: $color-gray;
                    }

                    cursor: pointer;
                    background: #fff;
                    color: $color-gray;
                    // border-radius: 5px;
                    .panel-nav-img-white {
                        display: none;
                    }

                    .panel-nav-img-gry {
                        display: inline;
                    }
                }

                .panel-nav-forward-gry {
                    display: none;
                }

                span {
                    padding-right: 6px;
                }

                form {
                    width: 100%;
                    text-align: center;

                    button {
                        width: 100%;
                        background: transparent;
                        color: #fff;
                        padding: 10px 0;

                        &:hover {
                            cursor: pointer;
                            color: $color-gray;
                        }
                    }
                }
            }
        }

        &-ul-li-sub {
            &-menu {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 12px 25px;

                img {
                    width: 15px !important;
                }

                &:hover {
                    cursor: pointer;
                    background: #fff;

                    span {
                        color: $color-gray;
                    }

                    .panel-nav-img-white {
                        display: none;
                    }

                    .panel-nav-img-gry {
                        display: inline-block;
                    }
                }
            }

            ul {
                width: 100%;
                display: none;
                background: $color-gray;
            }
            list-style-type: none;
            color: #fff;
            font-size: 13px;
            transition: all 0.5s;
            li {
                padding: 8px;
            }

            a {
                width: 100%;
                padding: 8px;
                color: #fff;
                display: inline-block;
            }

            img {
                width: 25px;
            }

            .panel-nav-img-gry {
                display: none;
            }

            ul {
                li {
                    a {
                        padding: 8px;
                    }

                    &:hover {
                        background: #fff;

                        a {
                            color: $color-gray !important;
                        }

                        .panel-nav-forward-white {
                            display: none;
                        }

                        .panel-nav-forward-gry {
                            display: block;
                        }

                        .panel-nav-img-white {
                            display: none;
                        }

                        .panel-nav-img-gry {
                            display: inline-block;
                        }
                    }
                }

            }
        }


    }

    .main-left {
        .top-map {
            font-size: 13px;
            padding-top: 10px;
            color: $color-gray;

            img {
                transform: rotate(90deg);
            }
        }

        .bottom-box-1 {
            padding-top: 20px;

            &-box {
                background: #607d8b;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 45px 0 45px 0;
                border-radius: 5px;
                color: #fff;
                font-size: 18px;
                margin: 10px 0;

                &-img-top {
                    width: 43px;
                    position: absolute;
                    right: calc(42% + 10px);
                    top: -25px;
                }

                &-img-top-background {
                    width: 65px;
                    height: 65px;
                    position: absolute;
                    top: -33px;
                    right: 42%;
                    background: #fff;
                    border-radius: 50%;
                }

                &-bottom {
                    width: 90%;
                    display: flex;
                    justify-content: space-around;
                    padding: 12px 0;
                    border-radius: 5px;
                    font-size: 16px;
                    background: #fff;
                    color: #78909c;
                    margin-top: 20px;

                    &-right {
                        width: 40%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 17px;
                        font-weight: bold;
                    }

                    &-left {
                        width: 40%;
                        padding: 5px 2px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        background: #78909c;
                        color: #fff;
                        // padding: 0 5px;
                        border-radius: 5px;

                        img {
                            width: 20px;
                        }

                        .form-control {
                            height: auto;
                            background: #78909c;
                            border: none;
                            color: #fff;
                            padding: 0 5px;

                            option {
                                background: none;
                            }

                            &:focus {
                                // box-shadow: none;
                            }
                        }

                    }
                }
            }
        }

        .title-services {
            margin-top: 20px;
            font-size: 20px;
            color: #607d8b;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .services-box {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background: #fff;
            box-shadow: 1px 1px 9px #e8e8e8;
            border-radius: 5px;
            transition: all 0.5s;
            margin: 10px 0;

            &:hover {
                background: #607d8b;
                cursor: pointer;

                .services-box-img-1 {
                    display: none;
                }

                .services-box-img-2 {
                    display: block;
                }

                span {
                    color: #fff;
                }
            }

            .services-box-img-2 {
                display: none;
            }

            img {
                width: 30px;
                padding: 20px 0;
            }

            span {
                padding-bottom: 30px;
                font-weight: bold;
                color: #78909c;
            }
        }
    }

    // _____page_______
    .user {
        // background: rgb(255, 255, 255);
        margin-top: 25px;

        &-top {
            padding-top: 15px;

            .top-button-add {
                background: #e53935;
                font-size: 13px;
                color: #fff;
            }

            .user-view-order {
                position: relative;
                color: $color-gray;
                margin: 8px 0;

                span {
                    position: absolute;
                    right: 18%;
                    top: -11px;
                    font-size: 11px;
                    background: red;
                }

                input {
                    background: #fcfcfc;
                }

                &-select {
                    width: 100%;
                    height: 100%;
                    color: $color-gray;
                    border: 1px solid rgb(146, 146, 146);
                    border-radius: 5px;
                    font-size: 13px;
                }

                button {
                    border: 1px solid #007bff;
                    color: #007bff;
                    transition: all 0.3s;

                    &:hover {
                        background: #007bff;
                        color: #fff;
                    }

                    &:focus {
                        // box-shadow: none;
                    }
                }

            }

            .desired-results {
                font-size: 13px;
                margin: 15px 0;
            }
        }

        .user-box-center {
            margin-top: 20px;
        }

        .group {
            position: relative;
            // margin-bottom:45px;
            // margin: 10px 0;
        }

        input {
            width: 100%;
            font-size: 18px;
            padding: 10px 5px;
            display: block;
            // width:300px;
            border: none;
            border: 1px solid #607d8b;
            border-radius: 5px;
            font-size: 13px;
        }

        input:focus {
            outline: none;
        }

        label {
            color: #999;
            font-size: 12px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            right: 35px;
            top: 12px;
            transition: 0.4s ease all;
            -moz-transition: 0.4s ease all;
            -webkit-transition: 0.4s ease all;
        }

        /* active state */
        input:focus ~ label, input:valid ~ label {
            top: -10px;
            right: 30px;
            font-size: 11px;
            color: #5264AE;
            background: #fff;
            padding: 2px 5px;
            border-radius: 5px;
        }


        /* active state */
        input:focus ~ .highlight {
            -webkit-animation: inputHighlighter 0.3s ease;
            -moz-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease;
        }

    }

    // _____page_______

    .subscription {
        &-top {
            margin-top: 20px;

            &-box {
                background: #607d8b; /* fallback for old browsers */
                background: -webkit-linear-gradient(to bottom, #607d8b, #78909c); /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to bottom, #607d8b, #78909c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                border-radius: 15px;
                padding-bottom: 15px;
                color: #fff;
                transition: all 0.5s;

                &:hover {
                    background: #fff;
                    color: rgb(61, 61, 61);
                    background: #fff;
                    box-shadow: 1px 1px 9px #e8e8e8;
                    cursor: pointer;
                    transition: all 0.5s;

                    .btn-choose {
                        color: #fff;
                        background: #536976;
                    }
                }

                &-top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: bold;
                    letter-spacing: 1.3px;
                    padding: 8px 15px;

                    img {
                        width: 50px;
                        background: #fff;
                        border-radius: 15px;
                        padding: 5px;
                    }

                }

                &-center {
                    padding: 0 20px;

                    ul {
                        margin: 10px 20px 0 0;
                        // list-style-image: url('../../icon/PanelAdmin/ok.svg');


                        li {
                            padding: 8px 0;
                            list-style: none;
                            display: flex;
                            align-items: center;
                        }

                        li::before {
                            content: '';
                            display: inline-block;
                            height: 25px;
                            width: 25px;
                            // background: red;
                            margin-left: 8px;
                            background-image: url('/icon/PanelAdmin/ok.svg');
                            background-size: 100% 100%;
                        }
                    }

                    &-li-del::before {
                        background-image: none !important;
                    }
                }

                &-bottom {
                    padding: 0 25%;
                    margin-top: 20px;

                    .btn-choose {
                        background: #fff;
                        color: #607d8b;
                        transition: all 0.3s;

                        &:focus {
                            // box-shadow: none;
                        }
                    }
                }
            }
        }

        &-center {
            // background: red;
            margin: 10px 0 100px 0;
            padding: 10px;

            &-gold {
                width: 100%;
                display: none;
            }

            &-silver {
                width: 100%;
                display: none;
            }

            &-box {
                width: 60%;
                background: #fff;
                box-shadow: 1px 1px 9px #e8e8e8;
                border-radius: 5px;
                padding: 20px 20px;
                margin: 8px auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: all 0.5s;
                color: rgb(128, 128, 128);

                &-number {
                    background: #ffbc01;
                    font-size: 18px;
                    padding: 5px 10px;
                    border-radius: 50%;
                    color: #fff;
                }

                &-number-silver {
                    background: darkgrey;
                    font-size: 18px;
                    padding: 5px 10px;
                    border-radius: 50%;
                    color: #fff;
                }

                &-time {
                    margin-right: 15px;
                }

                &-money {
                    margin-right: 15px;
                    color: #4caf50;
                }

                &-continue {
                    margin-right: 15px;
                    font-size: 13px;
                    color: #4caf50;
                }
            }

            &-box-gold {
                &:hover {
                    cursor: pointer;
                    background: #ffbc01;

                    .subscription-center-box-number {
                        background: #fff;
                        color: black;
                    }
                }
            }

            &-box-silver {
                &:hover {
                    cursor: pointer;
                    // color: #fff;
                    background: rgb(206, 206, 206);

                    .subscription-center-box-number-silver {
                        background: #fff;
                        color: black;
                    }
                }

            }

        }
    }

    // _____page___send-request___send-product__
    .send-request {
        // background:red;
        height: 100%;
        background: #fff;
        box-shadow: 1px 1px 9px #e8e8e8;
        border-radius: 5px;
        margin-right: 5px;
        margin-top: 10px;
        padding: 15px 15px;
        flex: 0 0 99%;
        max-width: 99%;
        @media only screen and (max-width: 992px) {
            flex: 0 0 99%;
            max-width: 99%;
        }

        .type-of-option {
            // background: red;
            display: flex;

            &-items {
                // width: 48%;
                background: $color-gray;
                padding: 3px 10px;
                border-radius: 5px;

                .type-of-option-items-button {
                    padding: 4px 8px;
                    // margin: 4px 0;
                    margin: 5px 0;
                    font-size: 13px;
                    font-weight: bold;
                    color: #fff;
                    border-radius: 5px;
                    background: $color-gray;
                    transition: all 0.5s;

                    &:hover {
                        background: $color-gray;
                        color: #fff;
                        cursor: pointer;
                    }

                    // &:focus{
                    //     outline: none;

                    // }
                }

                .type-of-option-items-1 {
                    background: #fff;
                    color: $color-gray;
                }

                .gray {
                    color: $color-gray !important;
                    background: #fff !important;
                }

            }
        }

        .form {
            width: 100%;

            &-top {
                display: flex;
                justify-content: space-between;
                padding-bottom: 10px;

                img {
                    width: 50px;
                }
            }

            .group {
                position: relative;
                // margin-bottom:45px;
                margin: 10px 0;
            }

            input {
                width: 100%;
                font-size: 18px;
                padding: 10px 5px;
                display: block;
                // width:300px;
                border: none;
                border: 1px solid #607d8b;
                border-radius: 5px;
            }

            input:focus {
                // outline:none;
                border: 2px solid rgb(139, 139, 197);
            }

            /* LABEL ======================================= */
            label {
                color: #999;
                font-size: 14px;
                font-weight: normal;
                position: absolute;
                pointer-events: none;
                right: 10px;
                top: 12px;
                transition: 0.4s ease all;
                -moz-transition: 0.4s ease all;
                -webkit-transition: 0.4s ease all;
            }

            /* active state */
            input:focus ~ label, input:valid ~ label {
                top: -10px;
                right: 30px;
                font-size: 11px;
                color: #5264AE;
                background: #fff;
                padding: 2px 5px;
                border-radius: 5px;
            }


            /* active state */
            input:focus ~ .highlight {
                -webkit-animation: inputHighlighter 0.3s ease;
                -moz-animation: inputHighlighter 0.3s ease;
                animation: inputHighlighter 0.3s ease;
            }


            .form-select {
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                border: 1px solid #607d8b;
                border-radius: 5px;
                color: rgb(43, 43, 43);
            }

            .moshaver-insert {
                background: #607d8b;
                color: #fff;
            }

            .box-select {
                // background: red;
                span {
                    font-weight: bold;
                    letter-spacing: 1px;
                    color: $color-gray;
                }

                .box-select-items {
                    padding: 10px 0;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    button {
                        padding: 4px 10px;
                        margin: 4px 0;
                        font-size: 13px;
                        font-weight: bold;
                        color: rgb(99, 99, 99);
                        border-radius: 5px;
                        background: #fff;
                        border: 1px solid $color-gray;
                        transition: all 0.5s;

                        &:hover {
                            background: $color-gray;
                            color: #fff;
                            cursor: pointer;
                        }

                        // &:focus{
                        //     outline: none;

                        // }
                    }

                    .gray-2 {
                        background: $color-gray !important;
                        color: #fff !important;
                    }
                }
            }
        }

        &-left-bottom {
            // background: red;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            img {
                width: 25px;
                margin: 0 8px;

                &:hover {
                    cursor: pointer;
                }
            }

            button {
                background: $color-gray;
                color: #fff;
                border: 2px solid #fff;
                transition: all 0.5s;
                outline: none;

                &:hover {
                    border: 2px solid $color-gray;
                    background: #fff;
                    color: $color-gray;
                }

                // &:focus{
                //     box-shadow: none;
                // }
            }
        }

        &-end {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        &-group-option {
            margin-top: 15px;
            padding: 10px 0;
            border-top: 2px solid rgb(236, 236, 236);

            &-box {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 5px 0;
                background: #78909c;
                color: #fff;
                box-shadow: 1px 1px 9px #e8e8e8;
                border-radius: 8px;
                margin: 10px 0;


                input {
                    margin: 0 10px;

                    &:focus {

                        outline: 2px solid red;
                    }

                }

                label {
                    margin: 0;
                }

            }
        }
    }

    .group {
        label {
            pointer-events: none;
        }
    }

    //width lable option in page send-product
    .group-option-box {
        label {
            width: calc(100% - 35px);
        }
    }

    // _____page_______
    .list-request {
        &-box {
            &-group {
                margin: 10px 0;
                display: flex;
                align-items: center;
                padding: 10px;
                border-radius: 8px;
                box-shadow: 1px 1px 9px #e8e8e8;
                border: 1px solid #e8e8e8;

                label {
                    margin: 0 10px;
                }

                &-button {

                    button {
                        margin: 10px 0;
                        padding: 10px;
                        border-radius: 8px;
                        box-shadow: 1px 1px 9px #e8e8e8;
                        border: 1px solid #e8e8e8;
                        background: #3f51b5;
                        color: #fff;

                        &:hover {
                            cursor: pointer;
                            background: #fff;
                            color: #3f51b5 !important;
                        }

                    }

                }

                select {
                    width: 100%;
                }

            }
        }

        &-table {
            &-tr {
                &-by {
                    background: #78909c;
                    color: #fff;
                }

                &-mortgage {
                    background: #143d59;
                    color: #fff;
                }

            }
        }
    }

    // _____page_______
    .list-factor {
        .table {
            margin-top: 20px;

            tr {
                td {
                    button {
                        padding: 4px 0;
                        color: #03a9f4;
                        background: transparent;
                        border-radius: 5px;
                        border: 1px solid #03a9f4;
                        transition: 0.5s;

                        &:hover {
                            cursor: pointer;
                            background: #03a9f4;
                            color: #fff;
                        }
                    }
                }

                .list-factor-more-active {
                    color: green;
                    font-weight: bold;
                }

                .list-factor-more-inactive {
                    color: red;
                    font-weight: bold;
                }
            }
        }
    }

    .list-factor-more-top-right {
        margin-top: 15px;
        color: #03a9f4;
        font-weight: bold;

        &-active {
            color: green;
        }

        &-inactive {
            color: red;
        }

    }

    .list-factor-more-top-left {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        &-title {
            color: #03a9f4;
            font-weight: bold;
        }

    }

    // _____page_______
    .zoonkan {
        &-top {
            &-box {
                display: flex;
                align-items: center;

                &-input-color {
                    margin-left: 8px;
                    // background: red;
                }
            }
        }

        &-list {
            margin: 0;
            padding: 0;
            border-radius: 8px;
            list-style: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &-box {
                width: 125px;
                // min-width: 100px;
                height: 140px;
                border: 1px solid #e8e8e8;
                box-shadow: 1px 1px 9px #e8e8e8;
                border-radius: 8px;
                color: #fff;
                // background-image: url(../../icon/PanelAdmin/icons8-binder-64-main.png);
                // background-repeat: no-repeat;
                // background-size: 50% 70%;
                // background-position: center bottom;
                margin: 10px 10px;
                position: relative;

                &:hover {
                    .folder-front {
                        transform: translate(-50%, -50%) scaleY(1.2);
                    }
                }
            }
        }

        .inside {
            background-color: #fff;
            background: #21B6A8;
            text-align: center;
            border-radius: 8px 8px 0 0;
            padding: 4px 0;
        }

        .ghost {
            border: 1px solid #000;
            background-color: #fff;
        }


        .download,
        .folder-back,
        .page-1,
        .page-2,
        .folder-front,
        .background {
            position: absolute;
            top: 58%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .download {
            width: 100px;
            height: 100px;
            cursor: pointer;
            /*filter:
                drop-shadow(rgba(0, 0, 0, 0.09) 4px 8px 12px)
                drop-shadow(rgba(0, 0, 0, 0.06) 2px 4px 6px)
                drop-shadow(rgba(0, 0, 0, 0.03) 1px 2px 3px);
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-tap-highlight-color: transparent;*/
        }

        .folder-back {
            width: var(--size-folder-back);
            height: var(--size-folder-back);
            transform-origin: 50% 100%;
            transform: translate(-50%, -50%) scaleY(var(--scale-folder));
        }

        .page-1 {
            width: calc(var(--size-page-1) * var(--ratio-page-1));
            height: calc(var(--size-page-1) / var(--ratio-page-1));
            border-radius: 8px;
            background-color: #F2EEF7;
            filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
            transform-origin: 50% 90%;
            //transform: translate(-50%, -50%) translateY(calc((1 - var(--scale-pages)) * -65%)) scale(var(--scale-pages));
        }

        .page-2 {
            width: calc(var(--size-page-2) * var(--ratio-page-2));
            height: calc((var(--size-page-2) * var(--ratio-page-2-height)) / var(--ratio-page-2));
            border-radius: 10px;
            background-color: #FFFEFF;
            opacity: var(--opacity-page-2);
            filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
            //transform: translate(-50%, -50%) translateY(17%) translateY(calc((1 - var(--scale-pages)) * -85%)) translateY(calc(var(--size) * -1.2 * var(--ratio-page-2-offset))) translateY(calc((1 - var(--ratio-page-2-height)) * -65%)) scale(var(--scale-pages));
        }

        .folder-front {
            width: var(--size-folder-front);
            height: var(--size-folder-front);
            transform-origin: 50% 100%;
            filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
            //transform: translate(-50%, -50%) scaleY(calc(var(--scale-folder) * var(--scale-folder)));
        }

    }

    // _____page_______
    .list-customer {
        &-table {
            td {
                button {
                    padding: 4px 0;
                    color: #03a9f4;
                    background: transparent;
                    border-radius: 5px;
                    border: 1px solid #03a9f4;
                    transition: 0.5s;

                    &:hover {
                        cursor: pointer;
                        background: #03a9f4;
                        color: #fff;
                    }
                }
            }

            &-active {
                font-weight: bold;
                color: green;
            }

            &-block {
                font-weight: bold;
                color: red;
            }
        }
    }

    // _____page_______
    .add-moshaver {
        // background:red;
        height: 100%;
        background: #fff;
        box-shadow: 1px 1px 9px #e8e8e8;
        border-radius: 5px;
        flex: 0 0 48%;
        max-width: 48%;
        margin: 15px auto;
        @media only screen and (max-width: 992px) {
            flex: 0 0 99%;
            max-width: 99%;
        }

        .form {
            width: 100%;
            padding: 10px 0;

            &-top {
                // margin-top: 15px;
                display: flex;
                justify-content: space-between;
                padding-bottom: 10px;

                img {
                    width: 50px;
                }
            }

            .group {
                position: relative;
                // margin-bottom:45px;
                margin: 10px 0;
            }

            input {
                width: 100%;
                font-size: 18px;
                padding: 10px 5px;
                display: block;
                // width:300px;
                border: none;
                border: 1px solid #607d8b;
                border-radius: 5px;
            }

            input:focus {
                outline: none;
            }

            /* LABEL ======================================= */
            label {
                color: #999;
                font-size: 14px;
                font-weight: normal;
                position: absolute;
                pointer-events: none;
                right: 10px;
                top: 12px;
                transition: 0.4s ease all;
                -moz-transition: 0.4s ease all;
                -webkit-transition: 0.4s ease all;
            }

            /* active state */
            input:focus ~ label, input:valid ~ label {
                top: -10px;
                right: 30px;
                font-size: 11px;
                color: #5264AE;
                background: #fff;
                padding: 2px 5px;
                border-radius: 5px;
            }


            /* active state */
            input:focus ~ .highlight {
                -webkit-animation: inputHighlighter 0.3s ease;
                -moz-animation: inputHighlighter 0.3s ease;
                animation: inputHighlighter 0.3s ease;
            }

            //   .box-job{
            //     width: 100%;
            //     display: flex;
            //     align-items: center;
            //     justify-content: space-between;
            //     font-weight: normal;
            //     font-size: 13px;
            //     // background: red;
            //     border-radius: 5px;
            //     padding: 6px 3px;
            //     // margin: 0 8px;
            //     position: relative;
            //     color: #8097a2;
            //     border:1px solid #607d8b;
            //     padding: 10px;
            //     &-select{
            //       width: 100%;
            //       background: #607d8b;
            //       position: absolute;
            //       top: 45px;
            //       right: 0;
            //       z-index: 999;
            //       color: #333333;
            //       display: none;
            //       border-radius: 5px;
            //     //   padding: 0 8px;
            //       &-box{
            //         display: flex;
            //         justify-content: space-around;
            //         padding: 5px 0;
            //         cursor: pointer;
            //         a{
            //             color: #414141;
            //         }
            //       }
            //       &-box{
            //         transition: all 0.5s;
            //         border-bottom: 1px solid #ececec;
            //         padding: 8px 10px;
            //         &:hover{
            //           background: #03a8f3;
            //           a{
            //               color: #fff;
            //           }
            //         }
            //       }
            //     }
            //     &:hover{
            //       cursor: pointer;
            //     }
            //     &-img-1{
            //       width: 25px;
            //       height: 10px;
            //       padding: 0 5px;
            //     }
            // }

            .form-select {
                width: 100%;
                padding: 10px;
                border: 1px solid #607d8b;
                border-radius: 5px;
                color: rgb(43, 43, 43);
            }

            .moshaver-insert {
                background: #607d8b;
                color: #fff;
            }
        }
    }

    // _____page_______
    .list-moshaver {
        &-item {
            background: #fff;
            box-shadow: 1px 1px 9px #e8e8e8;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 0;
            border-radius: 5px;
            margin-bottom: 10px;

            img {
                width: 80px;
                border-radius: 50%;
                margin-bottom: 10px;
            }

            span {
                padding: 5px 0;
                font-size: 13px;
            }

            .btn-block-user {
                color: #fff;
                background: #607d8b;
                padding: 4px 8px;
                border-radius: 8px;
                margin-top: 20px;
                font-size: 13px;
                transition: all 0.3s;
                border: 1px solid transparent;

                &:hover {
                    cursor: pointer;
                    color: #607d8b;
                    border-color: #607d8b;
                    background: #fff;
                }
            }
        }

    }

    // _____page_______
    .list-moshaver {
        &-top {
            align-items: center;
            padding-top: 15px;

            .top-button-add {
                background: #e53935;
                font-size: 13px;
                color: #fff;
            }

            .view-order {
                position: relative;
                color: $color-gray;
                margin: 8px 0;

                span {
                    position: absolute;
                    right: 18%;
                    top: -11px;
                    font-size: 11px;
                    background: #fff;

                }

                &-select {
                    width: 100%;
                    height: 100%;
                    color: $color-gray;
                    border: 1px solid rgb(146, 146, 146);
                    border-radius: 5px;
                    font-size: 13px;
                }

            }

            .desired-results {
                font-size: 13px;
                margin: 15px 0;
            }
        }

        .table {
            // background: yellow;
            // overflow: scroll;
            table {
                width: 100%;
                border-radius: 5px;
                font-size: 13px;
                margin-top: 15px;

                tr {
                    border-radius: 5px;
                    text-align: center;
                }

                th {
                    background: #607d8b;
                    color: #fff;
                }

                th:first-child {
                    border-radius: 0 5px 5px 0;
                }

                th:last-child {
                    border-radius: 5px 0 0 5px;
                }
            }

            @media only screen and (max-width: 570px) {
                overflow-x: scroll;
            }
        }

        .add-moshaver-box-condition {
            position: relative;
            // background: red;
            &-span {
                width: 15px;
                height: 15px;
                border: 2px solid #fff;
                border-radius: 50%;
                background: red;
                position: absolute;
                bottom: 7px;
                right: 15%;
            }
        }

        .add-moshaver-box-specifications {
            width: 90%;
            display: flex;
            justify-content: space-between;

            &-span-code {
                background: $color-gray;
                align-self: flex-start;
                padding: 4px 8px;
                border-radius: 8px;
                color: #fff;
            }
        }

    }

    // _____page_______
    .my-ads {
        &-row-top {
            padding-top: 20px;
            background: #fff;
            box-shadow: 1px 1px 9px #e8e8e8;
            margin-right: 0.2px;
            margin-top: 10px;
            border-radius: 5px;

            .view-order {
                position: relative;
                color: $color-gray;
                margin-bottom: 25px;

                span {
                    position: absolute;
                    right: 18%;
                    top: -11px;
                    font-size: 11px;
                    background: #fff;

                }

                &-select {
                    width: 100%;
                    height: 100%;
                    color: $color-gray;
                    border: 1px solid rgb(146, 146, 146);
                    border-radius: 5px;
                    font-size: 13px;
                }

            }

            &-button {
                background: #e53935;
                font-size: 13px;
                color: #fff;
                transition: all 0.3s;

                &:hover {
                    color: #fff;
                    background: #78909c;
                }
            }

            .table {
                table {
                    .btn-insert {
                        font-size: 12px;
                        background: $color-gray;
                        color: #fff;
                        padding: 1px 0px;
                    }
                }

                @media only screen and (max-width: 825px) {
                    overflow-x: scroll;
                }
            }
        }

    }

    // _____page_______
    .my-transation {
        &-top {
            padding-top: 15px;

            .top-button-add {
                background: #e53935;
                font-size: 13px;
                color: #fff;
            }

            .view-order {
                position: relative;
                color: $color-gray;

                span {
                    position: absolute;
                    right: 18%;
                    top: -11px;
                    font-size: 11px;
                    background: #fff;

                }

                &-select {
                    width: 100%;
                    height: 100%;
                    color: $color-gray;
                    border: 1px solid rgb(146, 146, 146);
                    border-radius: 5px;
                    font-size: 13px;
                }

            }

            .desired-results {
                font-size: 13px;
                margin: 15px 0;
            }
        }

        .group {
            position: relative;
            // margin-bottom:45px;
            // margin: 10px 0;
        }

        input {
            width: 100%;
            font-size: 18px;
            padding: 10px 5px;
            display: block;
            // width:300px;
            border: none;
            border: 1px solid #607d8b;
            border-radius: 5px;
            font-size: 13px;
        }

        input:focus {
            outline: none;
        }

        label {
            color: #999;
            font-size: 12px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            right: 35px;
            top: 12px;
            transition: 0.4s ease all;
            -moz-transition: 0.4s ease all;
            -webkit-transition: 0.4s ease all;
        }

        /* active state */
        input:focus ~ label, input:valid ~ label {
            top: -10px;
            right: 30px;
            font-size: 11px;
            color: #5264AE;
            background: #fff;
            padding: 2px 5px;
            border-radius: 5px;
        }


        /* active state */
        input:focus ~ .highlight {
            -webkit-animation: inputHighlighter 0.3s ease;
            -moz-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease;
        }

    }

    // _____page_______
    .management-box {
        margin: 8px 0;
        background: #fff;
        box-shadow: 1px 1px 9px #e8e8e8;
        padding: 5px;

        img {
            width: 100%;
        }

        button {
            color: #fff;
            background: #607d8b;
            padding: 4px 8px;
            border-radius: 8px;
            margin: 20px 0;
            font-size: 13px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            border: 1px solid transparent;

            &:hover {
                cursor: pointer;
                color: #607d8b;
                border-color: #607d8b;
                background: #fff;
            }
        }
    }
}


$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: #fdcc09;
.add-trusted-offices-star {
    width: 100%;
    position: relative;
    // background: red;
    padding: 10px 0;
    margin-bottom: 10px;
}

.star-cb-group {
    /* remove inline-block whitespace */
    font-size: 0;

    * {
        font-size: 22px;
    }

    /* flip the order so we can use the + and ~ combinators */
    unicode-bidi: bidi-override;
    direction: rtl;

    & > input {
        display: none;

        & + label {
            /* only enough room for the star */
            display: inline-block;
            overflow: hidden;
            text-indent: 9999px;
            width: 1em;
            white-space: nowrap;
            cursor: pointer;

            &:before {
                display: inline-block;
                text-indent: -9999px;
                content: $unchecked-star;
                color: $unchecked-color;
            }
        }

        &:checked ~ label:before,
        & + label:hover ~ label:before,
        & + label:hover:before {
            content: $checked-star;
            color: #f9d028;
            text-shadow: 0 0 1px #333;
        }
    }

    /* the hidden clearer */
    & > .star-cb-clear + label {
        text-indent: -9999px;
        width: .5em;
        margin-left: -.5em;
    }

    & > .star-cb-clear + label:before {
        width: .5em;
    }

    &:hover > input + label:before {
        content: $unchecked-star;
        color: $unchecked-color;
        text-shadow: none;
    }

    &:hover > input + label:hover ~ label:before,
    &:hover > input + label:hover:before {
        content: $checked-star;
        color: $checked-color;
        text-shadow: 0 0 1px #333;
    }
}

.add-trusted-offices-bottom-button {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.form-star {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

fieldset {
    width: 100%;
    border: 0;
    margin: 0 0 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        margin: 0 !important;
    }

    .comment-user-star {
        margin-left: 8px !important;
        margin-bottom: 6px !important;
        background: #49576d;
        border: 1px solid #8d96a3;
        color: #fff;
        border-radius: 5px;
        padding: 4px 6px;
        transition: all 0.3s;

        &:hover {
            box-shadow: inset 0 -55px 0 #8d96a3;
            cursor: pointer;
        }
    }
}

.fieldset-star {
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 25%;
}
