@charset "UTF-8";
:root {
  --size: 100px;
  --size-folder-back: var(--size);
  --size-page-1: calc(var(--size) * 0.55);
  --size-page-2: calc(var(--size) * 0.65);
  --size-folder-front: var(--size);
  --ratio-page-1: 0.95;
  --ratio-page-2: 1.05;
  --ratio-page-2-height: 0.5;
  --ratio-page-2-offset: 0;
  --scale-folder: 1;
  --scale-pages: 0.7;
  --opacity-page-2: 1;
}

@font-face {
  font-family: 'IRANYekanWebFn';
  src: url(".../../css/font/IRANYekanWebFn.woff2") format("woff2"), url("../../css/font/IRANYekanWebFn.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  direction: rtl;
  font-family: 'IRANYekanWebFn';
  outline: none;
}

select {
  background: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100%;
  background: #fcfcfc;
}

header {
  width: calc(100% - 20px);
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  background: #607d8b;
  padding: 10px 0;
}

header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-right .header-box-img-1 {
  margin-right: 25px;
}

header .header-right .header-img-logo {
  padding: 0 10px;
}

header .header-right .header-box-img {
  position: relative;
}

@media only screen and (max-width: 485px) {
  header .header-right .header-box-img {
    display: none;
  }
}

header .header-right .blinker-six .circle {
  width: 13px;
  height: 13px;
}

header .header-right .blinker-six .circle:nth-child(1) {
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  background: red;
  border-radius: 100%;
  border: 2px solid #fff;
  z-index: 1;
  -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
}

header .header-right .blinker-six .circle:nth-child(2) {
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  background: red;
  border-radius: 100%;
  -webkit-animation: bounce-contract 1400ms infinite;
          animation: bounce-contract 1400ms infinite;
}

@-webkit-keyframes bounce-contract {
  0% {
  }
  20% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
}

@keyframes bounce-contract {
  0% {
  }
  20% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
}

header .header-right .header-img-alert {
  width: 10px;
  height: 10px;
  background: red;
  position: absolute;
  top: 4px;
  right: 9px;
  border-radius: 50%;
}

header .header-right .box-search {
  position: relative;
  padding-right: 15px;
}

header .header-right .box-search input {
  border: none;
  outline: none;
  padding: 4px 6px 4px 35px;
  z-index: 9;
  border-radius: 5px;
  font-size: 14px;
}

header .header-right .box-search input::-webkit-input-placeholder {
  font-weight: normal;
}

header .header-right .box-search input:-ms-input-placeholder {
  font-weight: normal;
}

header .header-right .box-search input::-ms-input-placeholder {
  font-weight: normal;
}

header .header-right .box-search input::placeholder {
  font-weight: normal;
}

header .header-right .box-search img {
  width: 25px;
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 2px;
}

header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-left-span-left {
  font-size: 13px;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
}

header .header-left-box-span {
  position: relative;
  font-weight: normal;
}

@media only screen and (max-width: 873px) {
  header .header-left-box-span {
    display: none;
  }
}

header .header-left-span-left-alert {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #78909c;
}

header .header-left-span-left-alert-1 {
  position: absolute;
  right: 3px;
}

header .header-left-span-left-alert-2 {
  position: absolute;
  right: 3px;
}

header .header-left-send {
  background: #3f51b5;
  margin-left: 8px;
}

header .header-left-new-ad {
  background: #e53935;
}

header .header-left .box-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 13px;
  background: #fff;
  border-radius: 5px;
  padding: 6px 3px;
  margin: 0 8px;
  position: relative;
  color: #8097a2;
}

@media only screen and (max-width: 623px) {
  header .header-left .box-lang {
    display: none;
  }
}

header .header-left .box-lang-select {
  background: white;
  position: absolute;
  top: 32px;
  right: 0;
  z-index: 999;
  color: #333333;
  display: none;
  border-radius: 5px;
}

header .header-left .box-lang-select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px 0;
}

header .header-left .box-lang-select-box a {
  color: #414141;
}

header .header-left .box-lang-select-box {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid #ececec;
  padding: 8px 10px;
}

header .header-left .box-lang-select-box:hover {
  background: #03a8f3;
}

header .header-left .box-lang-select-box:hover a {
  color: #fff;
}

header .header-left .box-lang:hover {
  cursor: pointer;
}

header .header-left .box-lang-img-1 {
  width: 25px;
  height: 10px;
  padding: 0 5px;
}

header .header-left-male-user {
  width: 45px;
  border-radius: 50%;
  padding: 5px;
  -webkit-box-shadow: 1px 1px 9px #576d77;
          box-shadow: 1px 1px 9px #576d77;
  margin-right: 5px;
}

main .panel-nav {
  background: #78909c;
  padding: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .panel-nav-icon-menu {
  padding: 8px 10px 8px 0;
  display: none;
}

@media only screen and (max-width: 767px) {
  main .panel-nav-icon-menu {
    display: block;
  }
}

main .panel-nav ul {
  padding: 0;
  min-height: 86vh;
}

@media only screen and (max-width: 767px) {
  main .panel-nav ul {
    display: none;
  }
}

main .panel-nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  list-style-type: none;
  color: #fff;
  font-size: 13px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .panel-nav ul li a {
  width: 100%;
  color: #fff;
}

main .panel-nav ul li img {
  width: 25px;
}

main .panel-nav ul li .panel-nav-img-gry {
  display: none;
}

main .panel-nav ul li:hover {
  cursor: pointer;
  background: #fff;
  color: #78909c;
}

main .panel-nav ul li:hover a {
  color: #78909c;
}

main .panel-nav ul li:hover .panel-nav-img-white {
  display: none;
}

main .panel-nav ul li:hover .panel-nav-img-gry {
  display: inline;
}

main .panel-nav ul li .panel-nav-forward-gry {
  display: none;
}

main .panel-nav ul li:hover {
  cursor: pointer;
  background: #fff;
  color: #78909c;
}

main .panel-nav ul li:hover .panel-nav-forward-white {
  display: none;
}

main .panel-nav ul li:hover .panel-nav-forward-gry {
  display: block;
}

main .panel-nav ul li span {
  padding-right: 6px;
}

main .main-left .top-map {
  font-size: 13px;
  padding-top: 10px;
  color: #78909c;
}

main .main-left .top-map img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

main .main-left .bottom-box-1 {
  padding-top: 20px;
}

main .main-left .bottom-box-1-box {
  background: #607d8b;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0 45px 0;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  margin: 10px 0;
}

main .main-left .bottom-box-1-box-img-top {
  width: 43px;
  position: absolute;
  right: calc(42% + 10px);
  top: -25px;
}

main .main-left .bottom-box-1-box-img-top-background {
  width: 65px;
  height: 65px;
  position: absolute;
  top: -33px;
  right: 42%;
  background: #fff;
  border-radius: 50%;
}

main .main-left .bottom-box-1-box-bottom {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 12px 0;
  border-radius: 5px;
  font-size: 16px;
  background: #fff;
  color: #78909c;
  margin-top: 20px;
}

main .main-left .bottom-box-1-box-bottom-right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  font-weight: bold;
}

main .main-left .bottom-box-1-box-bottom-left {
  width: 40%;
  padding: 5px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #78909c;
  color: #fff;
  border-radius: 5px;
}

main .main-left .bottom-box-1-box-bottom-left img {
  width: 20px;
}

main .main-left .bottom-box-1-box-bottom-left .form-control {
  height: auto;
  background: #78909c;
  border: none;
  color: #fff;
  padding: 0 5px;
}

main .main-left .bottom-box-1-box-bottom-left .form-control option {
  background: none;
}

main .main-left .title-services {
  margin-top: 20px;
  font-size: 20px;
  color: #607d8b;
  font-weight: bold;
  letter-spacing: 1px;
}

main .main-left .services-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-box-shadow: 1px 1px 9px #e8e8e8;
          box-shadow: 1px 1px 9px #e8e8e8;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 10px 0;
}

main .main-left .services-box:hover {
  background: #607d8b;
  cursor: pointer;
}

main .main-left .services-box:hover .services-box-img-1 {
  display: none;
}

main .main-left .services-box:hover .services-box-img-2 {
  display: block;
}

main .main-left .services-box:hover span {
  color: #fff;
}

main .main-left .services-box .services-box-img-2 {
  display: none;
}

main .main-left .services-box img {
  width: 30px;
  padding: 20px 0;
}

main .main-left .services-box span {
  padding-bottom: 30px;
  font-weight: bold;
  color: #78909c;
}

main .user {
  margin-top: 25px;
  /* active state */
  /* active state */
}

main .user-top {
  padding-top: 15px;
}

main .user-top .top-button-add {
  background: #e53935;
  font-size: 13px;
  color: #fff;
}

main .user-top .user-view-order {
  position: relative;
  color: #78909c;
  margin: 8px 0;
}

main .user-top .user-view-order span {
  position: absolute;
  right: 18%;
  top: -11px;
  font-size: 11px;
  background: red;
}

main .user-top .user-view-order input {
  background: #fcfcfc;
}

main .user-top .user-view-order-select {
  width: 100%;
  height: 100%;
  color: #78909c;
  border: 1px solid #929292;
  border-radius: 5px;
  font-size: 13px;
}

main .user-top .user-view-order button {
  border: 1px solid #007bff;
  color: #007bff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .user-top .user-view-order button:hover {
  background: #007bff;
  color: #fff;
}

main .user-top .desired-results {
  font-size: 13px;
  margin: 15px 0;
}

main .user .user-box-center {
  margin-top: 20px;
}

main .user .group {
  position: relative;
}

main .user input {
  width: 100%;
  font-size: 18px;
  padding: 10px 5px;
  display: block;
  border: none;
  border: 1px solid #607d8b;
  border-radius: 5px;
  font-size: 13px;
}

main .user input:focus {
  outline: none;
}

main .user label {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  right: 35px;
  top: 12px;
  transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
}

main .user input:focus ~ label, main .user input:valid ~ label {
  top: -10px;
  right: 30px;
  font-size: 11px;
  color: #5264AE;
  background: #fff;
  padding: 2px 5px;
  border-radius: 5px;
}

main .user input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

main .subscription-top {
  margin-top: 20px;
}

main .subscription-top-box {
  background: #607d8b;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#607d8b), to(#78909c));
  background: linear-gradient(to bottom, #607d8b, #78909c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 15px;
  padding-bottom: 15px;
  color: #fff;
  -webkit-transition: all  0.5s;
  transition: all  0.5s;
}

main .subscription-top-box:hover {
  background: #fff;
  color: #3d3d3d;
  background: #fff;
  -webkit-box-shadow: 1px 1px 9px #e8e8e8;
          box-shadow: 1px 1px 9px #e8e8e8;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .subscription-top-box:hover .btn-choose {
  color: #fff;
  background: #536976;
}

main .subscription-top-box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  letter-spacing: 1.3px;
  padding: 8px 15px;
}

main .subscription-top-box-top img {
  width: 50px;
  background: #fff;
  border-radius: 15px;
  padding: 5px;
}

main .subscription-top-box-center {
  padding: 0 20px;
}

main .subscription-top-box-center ul {
  margin: 10px 20px 0 0;
}

main .subscription-top-box-center ul li {
  padding: 8px 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .subscription-top-box-center ul li::before {
  content: '';
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-left: 8px;
  background-image: url("../../icon/PanelAdmin/ok.svg");
  background-size: 100% 100%;
}

main .subscription-top-box-center-li-del::before {
  background-image: none !important;
}

main .subscription-top-box-bottom {
  padding: 0 25%;
  margin-top: 20px;
}

main .subscription-top-box-bottom .btn-choose {
  background: #fff;
  color: #607d8b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .subscription-center {
  margin: 10px 0 100px 0;
  padding: 10px;
}

main .subscription-center-gold {
  width: 100%;
  display: none;
}

main .subscription-center-silver {
  width: 100%;
  display: none;
}

main .subscription-center-box {
  width: 60%;
  background: #fff;
  -webkit-box-shadow: 1px 1px 9px #e8e8e8;
          box-shadow: 1px 1px 9px #e8e8e8;
  border-radius: 5px;
  padding: 20px 20px;
  margin: 8px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: gray;
}

main .subscription-center-box-number {
  background: #ffbc01;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 50%;
  color: #fff;
}

main .subscription-center-box-number-silver {
  background: darkgrey;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 50%;
  color: #fff;
}

main .subscription-center-box-time {
  margin-right: 15px;
}

main .subscription-center-box-money {
  margin-right: 15px;
  color: #4caf50;
}

main .subscription-center-box-continue {
  margin-right: 15px;
  font-size: 13px;
  color: #4caf50;
}

main .subscription-center-box-gold:hover {
  cursor: pointer;
  background: #ffbc01;
}

main .subscription-center-box-gold:hover .subscription-center-box-number {
  background: #fff;
  color: black;
}

main .subscription-center-box-silver:hover {
  cursor: pointer;
  background: #cecece;
}

main .subscription-center-box-silver:hover .subscription-center-box-number-silver {
  background: #fff;
  color: black;
}

main .send-request {
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 1px 1px 9px #e8e8e8;
          box-shadow: 1px 1px 9px #e8e8e8;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 15px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 99%;
          flex: 0 0 99%;
  max-width: 99%;
}

@media only screen and (max-width: 992px) {
  main .send-request {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 99%;
            flex: 0 0 99%;
    max-width: 99%;
  }
}

main .send-request .type-of-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .send-request .type-of-option-items {
  background: #78909c;
  padding: 3px 10px;
  border-radius: 5px;
}

main .send-request .type-of-option-items .type-of-option-items-button {
  padding: 4px 8px;
  margin: 5px 0;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  background: #78909c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .send-request .type-of-option-items .type-of-option-items-button:hover {
  background: #78909c;
  color: #fff;
  cursor: pointer;
}

main .send-request .type-of-option-items .type-of-option-items-1 {
  background: #fff;
  color: #78909c;
}

main .send-request .type-of-option-items .gray {
  color: #78909c !important;
  background: #fff !important;
}

main .send-request .form {
  width: 100%;
  /* LABEL ======================================= */
  /* active state */
  /* active state */
}

main .send-request .form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

main .send-request .form-top img {
  width: 50px;
}

main .send-request .form .group {
  position: relative;
  margin: 10px 0;
}

main .send-request .form input {
  width: 100%;
  font-size: 18px;
  padding: 10px 5px;
  display: block;
  border: none;
  border: 1px solid #607d8b;
  border-radius: 5px;
}

main .send-request .form input:focus {
  border: 2px solid #8b8bc5;
}

main .send-request .form label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  right: 10px;
  top: 12px;
  transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
}

main .send-request .form input:focus ~ label, main .send-request .form input:valid ~ label {
  top: -10px;
  right: 30px;
  font-size: 11px;
  color: #5264AE;
  background: #fff;
  padding: 2px 5px;
  border-radius: 5px;
}

main .send-request .form input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

main .send-request .form .form-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #607d8b;
  border-radius: 5px;
  color: #2b2b2b;
}

main .send-request .form .moshaver-insert {
  background: #607d8b;
  color: #fff;
}

main .send-request .form .box-select span {
  font-weight: bold;
  letter-spacing: 1px;
  color: #78909c;
}

main .send-request .form .box-select .box-select-items {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .send-request .form .box-select .box-select-items button {
  padding: 4px 10px;
  margin: 4px 0;
  font-size: 13px;
  font-weight: bold;
  color: #636363;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #78909c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .send-request .form .box-select .box-select-items button:hover {
  background: #78909c;
  color: #fff;
  cursor: pointer;
}

main .send-request .form .box-select .box-select-items .gray-2 {
  background: #78909c !important;
  color: #fff !important;
}

main .send-request-left-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .send-request-left-bottom img {
  width: 25px;
  margin: 0 8px;
}

main .send-request-left-bottom img:hover {
  cursor: pointer;
}

main .send-request-left-bottom button {
  background: #78909c;
  color: #fff;
  border: 2px solid #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
}

main .send-request-left-bottom button:hover {
  border: 2px solid #78909c;
  background: #fff;
  color: #78909c;
}

main .send-request-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .send-request-group-option {
  margin-top: 15px;
  padding: 10px 0;
  border-top: 2px solid #ececec;
}

main .send-request-group-option-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  background: #78909c;
  color: #fff;
  -webkit-box-shadow: 1px 1px 9px #e8e8e8;
          box-shadow: 1px 1px 9px #e8e8e8;
  border-radius: 8px;
  margin: 10px 0;
}

main .send-request-group-option-box input {
  margin: 0 10px;
}

main .send-request-group-option-box input:focus {
  outline: 2px solid red;
}

main .send-request-group-option-box label {
  margin: 0;
}

main .group-option-box label {
  width: calc(100% - 35px);
}

main .list-request-box-group {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 9px #e8e8e8;
          box-shadow: 1px 1px 9px #e8e8e8;
  border: 1px solid #e8e8e8;
}

main .list-request-box-group label {
  margin: 0 10px;
}

main .list-request-box-group-button button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 9px #e8e8e8;
          box-shadow: 1px 1px 9px #e8e8e8;
  border: 1px solid #e8e8e8;
  background: #3f51b5;
  color: #fff;
}

main .list-request-box-group-button button:hover {
  cursor: pointer;
  background: #fff;
  color: #3f51b5 !important;
}

main .list-request-box-group select {
  width: 100%;
}

main .list-request-table-tr-by {
  background: #78909c;
  color: #fff;
}

main .list-request-table-tr-mortgage {
  background: #143d59;
  color: #fff;
}

main .list-factor .table {
  margin-top: 20px;
}

main .list-factor .table tr td button {
  padding: 4px 0;
  color: #03a9f4;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #03a9f4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .list-factor .table tr td button:hover {
  cursor: pointer;
  background: #03a9f4;
  color: #fff;
}

main .list-factor .table tr .list-factor-more-active {
  color: green;
  font-weight: bold;
}

main .list-factor .table tr .list-factor-more-inactive {
  color: red;
  font-weight: bold;
}

main .list-factor-more-top-right {
  margin-top: 15px;
  color: #03a9f4;
  font-weight: bold;
}

main .list-factor-more-top-right-active {
  color: green;
}

main .list-factor-more-top-right-inactive {
  color: red;
}

main .list-factor-more-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .list-factor-more-top-left-title {
  color: #03a9f4;
  font-weight: bold;
}

main .zoonkan-top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .zoonkan-top-box-input-color {
  margin-left: 8px;
}

main .zoonkan-list {
  margin: 0;
  padding: 0;
  border-radius: 8px;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .zoonkan-list-box {
  width: 125px;
  height: 140px;
  border: 1px solid #e8e8e8;
  -webkit-box-shadow: 1px 1px 9px #e8e8e8;
          box-shadow: 1px 1px 9px #e8e8e8;
  border-radius: 8px;
  color: #fff;
  margin: 10px 10px;
  position: relative;
}

main .zoonkan-list-box:hover .folder-front {
  -webkit-transform: translate(-50%, -50%) scaleY(1.2);
          transform: translate(-50%, -50%) scaleY(1.2);
}

main .zoonkan .inside {
  background-color: #fff;
  background: #21B6A8;
  text-align: center;
  border-radius: 8px 8px 0 0;
  padding: 4px 0;
}

main .zoonkan .ghost {
  border: 1px solid #000;
  background-color: #fff;
}

main .zoonkan .download,
main .zoonkan .folder-back,
main .zoonkan .page-1,
main .zoonkan .page-2,
main .zoonkan .folder-front,
main .zoonkan .background {
  position: absolute;
  top: 58%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .zoonkan .download {
  width: 100px;
  height: 100px;
  cursor: pointer;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.09) 4px 8px 12px) drop-shadow(rgba(0, 0, 0, 0.06) 2px 4px 6px) drop-shadow(rgba(0, 0, 0, 0.03) 1px 2px 3px);
          filter: drop-shadow(rgba(0, 0, 0, 0.09) 4px 8px 12px) drop-shadow(rgba(0, 0, 0, 0.06) 2px 4px 6px) drop-shadow(rgba(0, 0, 0, 0.03) 1px 2px 3px);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

main .zoonkan .folder-back {
  width: var(--size-folder-back);
  height: var(--size-folder-back);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: translate(-50%, -50%) scaleY(var(--scale-folder));
          transform: translate(-50%, -50%) scaleY(var(--scale-folder));
}

main .zoonkan .page-1 {
  width: calc(var(--size-page-1) * var(--ratio-page-1));
  height: calc(var(--size-page-1) / var(--ratio-page-1));
  border-radius: 8px;
  background-color: #F2EEF7;
  -webkit-filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
  -webkit-transform-origin: 50% 90%;
          transform-origin: 50% 90%;
  -webkit-transform: translate(-50%, -50%) translateY(calc((1 - var(--scale-pages)) * -65%)) scale(var(--scale-pages));
          transform: translate(-50%, -50%) translateY(calc((1 - var(--scale-pages)) * -65%)) scale(var(--scale-pages));
}

main .zoonkan .page-2 {
  width: calc(var(--size-page-2) * var(--ratio-page-2));
  height: calc((var(--size-page-2) * var(--ratio-page-2-height)) / var(--ratio-page-2));
  border-radius: 10px;
  background-color: #FFFEFF;
  opacity: var(--opacity-page-2);
  -webkit-filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
  -webkit-transform: translate(-50%, -50%) translateY(17%) translateY(calc((1 - var(--scale-pages)) * -85%)) translateY(calc(var(--size) * -1.2 * var(--ratio-page-2-offset))) translateY(calc((1 - var(--ratio-page-2-height)) * -65%)) scale(var(--scale-pages));
          transform: translate(-50%, -50%) translateY(17%) translateY(calc((1 - var(--scale-pages)) * -85%)) translateY(calc(var(--size) * -1.2 * var(--ratio-page-2-offset))) translateY(calc((1 - var(--ratio-page-2-height)) * -65%)) scale(var(--scale-pages));
}

main .zoonkan .folder-front {
  width: var(--size-folder-front);
  height: var(--size-folder-front);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
  -webkit-transform: translate(-50%, -50%) scaleY(calc(var(--scale-folder) * var(--scale-folder)));
          transform: translate(-50%, -50%) scaleY(calc(var(--scale-folder) * var(--scale-folder)));
}

main .list-customer-table td button {
  padding: 4px 0;
  color: #03a9f4;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #03a9f4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .list-customer-table td button:hover {
  cursor: pointer;
  background: #03a9f4;
  color: #fff;
}

main .list-customer-table-active {
  font-weight: bold;
  color: green;
}

main .list-customer-table-block {
  font-weight: bold;
  color: red;
}

main .add-moshaver {
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 1px 1px 9px #e8e8e8;
          box-shadow: 1px 1px 9px #e8e8e8;
  border-radius: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  max-width: 48%;
  margin: 15px auto;
}

@media only screen and (max-width: 992px) {
  main .add-moshaver {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 99%;
            flex: 0 0 99%;
    max-width: 99%;
  }
}

main .add-moshaver .form {
  width: 100%;
  padding: 10px 0;
  /* LABEL ======================================= */
  /* active state */
  /* active state */
}

main .add-moshaver .form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

main .add-moshaver .form-top img {
  width: 50px;
}

main .add-moshaver .form .group {
  position: relative;
  margin: 10px 0;
}

main .add-moshaver .form input {
  width: 100%;
  font-size: 18px;
  padding: 10px 5px;
  display: block;
  border: none;
  border: 1px solid #607d8b;
  border-radius: 5px;
}

main .add-moshaver .form input:focus {
  outline: none;
}

main .add-moshaver .form label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  right: 10px;
  top: 12px;
  transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
}

main .add-moshaver .form input:focus ~ label, main .add-moshaver .form input:valid ~ label {
  top: -10px;
  right: 30px;
  font-size: 11px;
  color: #5264AE;
  background: #fff;
  padding: 2px 5px;
  border-radius: 5px;
}

main .add-moshaver .form input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

main .add-moshaver .form .form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #607d8b;
  border-radius: 5px;
  color: #2b2b2b;
}

main .add-moshaver .form .moshaver-insert {
  background: #607d8b;
  color: #fff;
}

main .list-moshaver-item {
  background: #fff;
  -webkit-box-shadow: 1px 1px 9px #e8e8e8;
          box-shadow: 1px 1px 9px #e8e8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-radius: 5px;
  margin-bottom: 10px;
}

main .list-moshaver-item img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

main .list-moshaver-item span {
  padding: 5px 0;
  font-size: 13px;
}

main .list-moshaver-item .btn-block-user {
  color: #fff;
  background: #607d8b;
  padding: 4px 8px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 13px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
}

main .list-moshaver-item .btn-block-user:hover {
  cursor: pointer;
  color: #607d8b;
  border-color: #607d8b;
  background: #fff;
}

main .list-moshaver-top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

main .list-moshaver-top .top-button-add {
  background: #e53935;
  font-size: 13px;
  color: #fff;
}

main .list-moshaver-top .view-order {
  position: relative;
  color: #78909c;
  margin: 8px 0;
}

main .list-moshaver-top .view-order span {
  position: absolute;
  right: 18%;
  top: -11px;
  font-size: 11px;
  background: #fff;
}

main .list-moshaver-top .view-order-select {
  width: 100%;
  height: 100%;
  color: #78909c;
  border: 1px solid #929292;
  border-radius: 5px;
  font-size: 13px;
}

main .list-moshaver-top .desired-results {
  font-size: 13px;
  margin: 15px 0;
}

main .list-moshaver .table table {
  width: 100%;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 15px;
}

main .list-moshaver .table table tr {
  border-radius: 5px;
  text-align: center;
}

main .list-moshaver .table table th {
  background: #607d8b;
  color: #fff;
}

main .list-moshaver .table table th:first-child {
  border-radius: 0 5px 5px 0;
}

main .list-moshaver .table table th:last-child {
  border-radius: 5px 0 0 5px;
}

@media only screen and (max-width: 570px) {
  main .list-moshaver .table {
    overflow-x: scroll;
  }
}

main .list-moshaver .add-moshaver-box-condition {
  position: relative;
}

main .list-moshaver .add-moshaver-box-condition-span {
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: red;
  position: absolute;
  bottom: 7px;
  right: 15%;
}

main .list-moshaver .add-moshaver-box-specifications {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .list-moshaver .add-moshaver-box-specifications-span-code {
  background: #78909c;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 4px 8px;
  border-radius: 8px;
  color: #fff;
}

main .my-ads-row-top {
  padding-top: 20px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 9px #e8e8e8;
          box-shadow: 1px 1px 9px #e8e8e8;
  margin-right: 0.2px;
  margin-top: 10px;
  border-radius: 5px;
}

main .my-ads-row-top .view-order {
  position: relative;
  color: #78909c;
  margin-bottom: 25px;
}

main .my-ads-row-top .view-order span {
  position: absolute;
  right: 18%;
  top: -11px;
  font-size: 11px;
  background: #fff;
}

main .my-ads-row-top .view-order-select {
  width: 100%;
  height: 100%;
  color: #78909c;
  border: 1px solid #929292;
  border-radius: 5px;
  font-size: 13px;
}

main .my-ads-row-top-button {
  background: #e53935;
  font-size: 13px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .my-ads-row-top-button:hover {
  color: #fff;
  background: #78909c;
}

main .my-ads-row-top .table table .btn-insert {
  font-size: 12px;
  background: #78909c;
  color: #fff;
  padding: 1px 0px;
}

@media only screen and (max-width: 825px) {
  main .my-ads-row-top .table {
    overflow-x: scroll;
  }
}

main .my-transation {
  /* active state */
  /* active state */
}

main .my-transation-top {
  padding-top: 15px;
}

main .my-transation-top .top-button-add {
  background: #e53935;
  font-size: 13px;
  color: #fff;
}

main .my-transation-top .view-order {
  position: relative;
  color: #78909c;
}

main .my-transation-top .view-order span {
  position: absolute;
  right: 18%;
  top: -11px;
  font-size: 11px;
  background: #fff;
}

main .my-transation-top .view-order-select {
  width: 100%;
  height: 100%;
  color: #78909c;
  border: 1px solid #929292;
  border-radius: 5px;
  font-size: 13px;
}

main .my-transation-top .desired-results {
  font-size: 13px;
  margin: 15px 0;
}

main .my-transation .group {
  position: relative;
}

main .my-transation input {
  width: 100%;
  font-size: 18px;
  padding: 10px 5px;
  display: block;
  border: none;
  border: 1px solid #607d8b;
  border-radius: 5px;
  font-size: 13px;
}

main .my-transation input:focus {
  outline: none;
}

main .my-transation label {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  right: 35px;
  top: 12px;
  transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
}

main .my-transation input:focus ~ label, main .my-transation input:valid ~ label {
  top: -10px;
  right: 30px;
  font-size: 11px;
  color: #5264AE;
  background: #fff;
  padding: 2px 5px;
  border-radius: 5px;
}

main .my-transation input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

.add-trusted-offices-star {
  width: 100%;
  position: relative;
  padding: 10px 0;
  margin-bottom: 10px;
}

.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}

.star-cb-group * {
  font-size: 22px;
}

.star-cb-group > input {
  display: none;
}

.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}

.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}

.star-cb-group > input:checked ~ label:before,
.star-cb-group > input + label:hover ~ label:before,
.star-cb-group > input + label:hover:before {
  content: "★";
  color: #f9d028;
  text-shadow: 0 0 1px #333;
}

.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}

.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}

.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}

.star-cb-group:hover > input + label:hover ~ label:before,
.star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: #fdcc09;
  text-shadow: 0 0 1px #333;
}

.add-trusted-offices-bottom-button {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-star {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

fieldset {
  width: 100%;
  border: 0;
  margin: 0 0 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

fieldset span {
  margin: 0 !important;
}

fieldset .comment-user-star {
  margin-left: 8px !important;
  margin-bottom: 6px !important;
  background: #49576d;
  border: 1px solid #8d96a3;
  color: #fff;
  border-radius: 5px;
  padding: 4px 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

fieldset .comment-user-star:hover {
  -webkit-box-shadow: inset 0 -55px 0 #8d96a3;
          box-shadow: inset 0 -55px 0 #8d96a3;
  cursor: pointer;
}

.fieldset-star {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 25%;
}
/*# sourceMappingURL=style.css.map */